 
:root   {
    --accent-color:#4D5AE5;
    --primary-font: 'Roboto';
    --secondary-font: 'Raleway';
    --primary-text-color: #2E2F42;
    --secondary-text-color:#434455 ;
}
body {
    font-family: 'Roboto', sans-serif;
    
}

.list   {
    list-style: none;
}

.link   {
    text-decoration: none;
}
.text {
    
    
}

.title {
    font-family:var(--primary-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.btn {
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
    font-family: var(--primary-font);
}

.btn:hover,
.btn:focus {
color: #4D5AE5;
}





/* =======HEADER======== */

.page-header {
    background-color: #FFFFFF;
}

.logo {
    font-family:var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}
.logo:hover,
.logo:focus {
    color:var(--accent-color);
}
.logo-part {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.logo-part:hover,
.logo-part:focus {
    color: var(--accent-color);
}


.navigation {}

.menu {}

.menu-item {}

.menu-link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}
.menu-link:hover,
.menu-link:focus   {
    color: var(--accent-color);
}

.info {

}
.info-item {}

.mail {
    font-family:var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-font);
}
.mail:hover,
.mail:focus{
    color: var(--accent-color);
}
.phone {
    font-family:var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
 }


.phone:hover,
.phone:focus {
    color: var(--accent-color);
}
/* =========HERO=========== */
.hero {
    background: #2E2F42;
}
.hero-title {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


/* =========BENEFITS========= */

.benefits {
    background: #FFFFFF;
}

.benefits-list {}

.benefits-item {}


/* ==========SERVICES========== */
.services {
    background: #FFFFFF;
}

.services-title {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

.services-list {}

.services-img {}

/* ============TEAM============ */

.team {
    background: #F4F4FD;
}

.team-title {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--primary-text-color);
}

.team-list {}

.team-item {}

/* ==========FOOTER============ */

.footer {}

.logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.logo-part {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.logo-part:hover,
.logo-part:focus {
    color: var(--accent-color);
}
/* =======HEADER======== */

.page-header {
    background-color: #FFFFFF;
}

.logo {
    font-family:var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}
.logo:hover,
.logo:focus {
    color:var(--accent-color);
}
.logo-part {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.logo-part:hover,
.logo-part:focus {
    color: var(--accent-color);
}

.navigation {}

.menu {}

.menu-item {}

.menu-link {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}
.menu-link:hover,
.menu-link:focus   {
    color: var(--accent-color);
}

.info {

}
.info-item {}

.mail {
    font-family:var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-font);
}
.mail:hover,
.mail:focus{
    color: var(--accent-color);
}
.phone {
    font-family:var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
 }


.phone:hover,
.phone:focus {
    color: var(--accent-color);
}



/* =========LIST-BUTTONS=========== */

.list-buttons {
    background-color: #FFFFFF;
}
.btn-list {
    background: #F4F4FD;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
     color: #4D5AE5;

}

.btn-list:hover,
.btn-list:focus {
    background-color: #4D5AE5;
    color: #FFFFFF;
}
.menu-buttons {}

.menu-buttons-item {
  
}


/* ==========JOBS========== */
.jobs {
    background: #FFFFFF;
}

.jobs-list {}

.jobs-list-item {

}

/* ==========FOOTER============ */

.footer {
    background:  #2E2F42;
}
.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
        color: #E7E9FC;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}



.logo-part-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.logo-part-studio:hover,
.logo-part-studio:focus {
    color: var(--accent-color);
}